// fonts
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&family=Source+Serif+Pro:wght@300;400;600;700;900&display=swap");
$main-font: "Source Sans Pro", sans-serif;
$second-font: "Source Serif Pro", serif;
// colors
$dark: #6b717f;
$light: #ffffff;
$black: #000000;
$links: #003366;
$form: #e8e9e9;
$underline: #e8e9e9;
$intro: #669999;
$alert: #bf4080;
$twitter: #00acee;
$hover: #7777771a;
$gradient: linear-gradient(
  to right,
  #c69 0%,
  #c69 8.33333%,
  #b37399 8.33333%,
  #b37399 16.66667%,
  #998099 16.66667%,
  #998099 25%,
  #699 25%,
  #699 33.33333%,
  #d2e1dd 33.33333%,
  #d2e1dd 41.66667%,
  #fff 41.66667%,
  #fff 50%,
  #f2ece4 50%,
  #f2ece4 58.33333%,
  #e1d7d2 58.33333%,
  #e1d7d2 66.66667%,
  #dadbdf 66.66667%,
  #dadbdf 75%,
  #808c99 75%,
  #808c99 83.33333%,
  #6b717f 83.33333%,
  #6b717f 91.66667%,
  #036 91.66667%,
  #036 100%
);
